{% extends 'base.html'%} {% load staticfiles %} {% load bootstrap3 %} {{form.media}}
​
 {% block content %} {{ block.super }}
 
  <div class="container-fluid">

 <div class="row">
 <div class="col-md-2"></div>
  <div class="col-md-4">

 {% for post in image %}
 <br>
  <div class="tumbnail">
          <img src="{{post.image.url}}" width="300px" height="300px" alt="">
         </div> 
         {% endfor %}
         </div>
          <div class="col-md-6"></div>

         </div>
         </div>
 {% endblock %}