{% load bootstrap3 %}
{% block styles%}
<link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
{% endblock%}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="text-center" style="font-family: 'Oleo Script', cursive;">Instagram</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% csrf_token %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
        {% endfor %}
        <div class="text-center">
          <button type="submit" name="_submit" class="btn">Signup</button>
        </div>
        <div class="section">
          <p class="forgot">Already have an account? <a href="/accounts/login">Login</a></p>
        </div>
        <input type="hidden" name="next" value="{{next}}">
      </form>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
